body {
  padding: 1rem 3rem;
	background-color: lightsteelblue;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	justify-content: center;
}

.concert {
  width: 20rem;
  height: 10rem;
}

h1 {
	font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}